<!--SignIn-->
<div class="login-container">
    <form class="login" id="signin" action="/login" method="post">
        {{#if message}}
        {{#each message}}
        <div class="errors">
           <p id="server-error">{{this}}</p>
        </div>
        {{/each}}
        {{/if}}
        <h3>Sign In</h3>

        <input type="text" id="username" name="username" placeholder="Username is your email address" onchange="return validateSignInForm();">
        <!-- constraints -->

        <input type="password" id="signin-password" name="password" placeholder="Password" onchange="return validateSignInForm();">

        <input type="submit" value="Sign In" id="signin-submit" onsubmit="return validateSignInForm();">
    </form>
</div>